.heros{
    background-color: #D0ECF5;
    position: relative;
    height: 90vh;
    .heading{
        font-size: 40px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding-top: 55px;
        color: black;
    }

    .bird-left{
        position: absolute;
        top: -30px;
        left: 10%;
        img{
            width: 70%;
        } 
    }
    .bird-right{
        position: absolute;
        right: 5%;
        top: -30px;
        img{
            width: 70%;
        }
    }
    .middle{
        position: absolute;
        left: 30%;
    }
    .image1{
        position: absolute;
        top: 150px;
        left: 2%; 

    }
    .image2{
        position: absolute;
        top: 150px;
        left: 14%;
    }
    .image3{
        position: absolute;
        top: 70px;
        right: 5%;  
    }
    .image4{
        position: absolute;
        top: 119px;
        right: 2%;  
    }
}