.card-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #D0ECF5;
.card{
display: flex;
width: 400px;
gap: 10px;
.image{
    img{

        width: 300px;
    }
}
.content{
    .heading{
       font-size: 22px;
       font-weight: bold;
    }
    .paragraph{
        text-align: justify;
display: flex;
justify-content: center;
align-items: center;
    }

}
}
}